<div  ng-controller="AppCtrl">
	<!--=== Inline Tabs ===-->
	<div class="col-md-12">
	<input type="text"  my-autocomplete="reposts"  class="form-control"  ng-mouseover="true"/>

	<select name="rowid_cliente_facturacion" id="rowid_cliente_facturacion" class="col-md-12 select2 full-width-fix required" ng-model="pedidos.rowid_cliente_facturacion" >

											<option></option>
											<option value="1">Option 1</option>
											<option value="2">Option 2</option>
											<option value="3">Option 3</option>
										</select> 
</div>
	</div>